In [108]:
using DataFrames
using GLM
using CSV

In [109]:
# figure out how to read in types
#data = vec(readdlm("coltypes.csv", ',', String))
df = CSV.read("titanic.txt", DataFrame; delim='\t', header=true, 
types=[String,String,String,Bool,Float64])
# data

2201×5 DataFrame
  Row │ Class   Sex     Age     Survived  Age_Num
      │ String  String  String  Bool      Float64
──────┼────────────────────────────────────────────
    1 │ 3rd     Male    Child      false   12.8909
    2 │ 3rd     Male    Child      false   12.8909
    3 │ 3rd     Male    Child      false   12.8909
    4 │ 3rd     Male    Child      false   12.8909
    5 │ 3rd     Male    Child      false   12.8909
    6 │ 3rd     Male    Child      false   12.8909
    7 │ 3rd     Male    Child      false   12.8909
    8 │ 3rd     Male    Child      false   12.8909
  ⋮   │   ⋮       ⋮       ⋮        ⋮         ⋮
 2195 │ Crew    Female  Adult       true  -99.0
 2196 │ Crew    Female  Adult       true  -99.0
 2197 │ Crew    Female  Adult       true  -99.0
 2198 │ Crew    Female  Adult       true  -99.0
 2199 │ Crew    Female  Adult       true  -99.0
 2200 │ Crew    Female  Adult       true  -99.0
 2201 │ Crew    Female  Adult       true  -99.0
                                  2186 rows omitted

In [117]:
logit = glm(@formula(Survived ~ Sex + Class + Age), df, Binomial(), LogitLink())
predict(logit)

2201-element Vector{Float64}:
 0.2511585689678294
 0.2511585689678294
 0.2511585689678294
 0.2511585689678294
 0.2511585689678294
 0.2511585689678294
 0.2511585689678294
 0.2511585689678294
 0.2511585689678294
 0.2511585689678294
 ⋮
 0.7660538069978157
 0.7660538069978157
 0.7660538069978157
 0.7660538069978157
 0.7660538069978157
 0.7660538069978157
 0.7660538069978157
 0.7660538069978157
 0.7660538069978157